.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
    height: 100vh
}

.login-body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 500; */
    text-align: center;
}

.login-form-button {
    width: 100%;
}

.login-content{
    text-align: left;
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: transparent;
    border-color: #e8e8e8;
    outline: none;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }